# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environment
venv/
.venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Static collected
staticfiles/

# Environment variables
.env
.env.local
.env.production

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Migrations (opsional — saqlash yaxshiroq)
# blog/migrations/

# Secrets
secret_key.txt
